@import '../../StylesGlobal/utilities.scss';


.card {
    @include cardForm;
}

.desc {
    position: relative;
    width: 100%;
    height: 30%;

    p {
        width: 100%;
        position: absolute;
        top: 10px;
        left: 5px;

        font-family: $montserrat;
        font-weight: 400;
        font-size: 56px;
        color: rgba(255, 255, 255, 0.369);
        letter-spacing: 2px;
    }

}


.inputs {
    @include inputsForm;
}


.submit {
    @include submitBtn;
}

.change {
    width: 100%;
    height: auto;
    line-height: 20px;
    @include center;
    flex-direction: column;

    font-size: 16px;
    color: rgba(255, 255, 255, 0.454);

    a {
        margin-top: 10px;
        color: rgba(251, 149, 149, 0.513);
        font-weight: 500;
        text-decoration: none;
        font-size: 1.5rem;

        &:hover {
            color: rgb(255, 0, 0);
        }
    }

    p {
        margin: 0;
    }
}

@media only screen and (max-height: 750px) {
    @include changeToMobileView;
}