@import '../../StylesGlobal/utilities.scss';

.card {
    padding: 20px;
    width: 400px;
    height: 600px;
    border-radius: 12px;
    @include center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.292);
    font-family: $montserrat;
    
}

.desc {
    position: relative;
    width: 100%;
    height: 30%;

    p {
        width: 100%;
        position: absolute;
        top: 10px;
        left: 5px;

        font-family: $montserrat;
        font-weight: 400;
        font-size: 56px;
        color: rgba(255, 255, 255, 0.369);
        letter-spacing: 2px;
    }

}

.inputs {
    width: 100%;
    height: 30%;

    form {
        width: 100%;
        height: 100%;
        @include center;
        flex-direction: column;
        justify-content: space-between;

        input {
            font-family: $montserrat;
            font-weight: 300;
            text-align: center;
            font-size: 20px;
            width: 70%;
            height: 60px;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.13);
            border: 1px solid rgb(105, 105, 105);
            color: rgba(255, 255, 255, 0.391);
            margin-bottom: 10px;

        }

        input:focus {
            outline: none ;
            box-shadow: inset 0 0 2px rgb(255, 149, 0);
        }
    }
}



.submit {
    margin-top: 20px;
    width: 70%;
    height: 60px;
    border-radius: 8px;
    border: 1px solid rgba(255, 128, 0, 0.529);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.27);
    font-family: $montserrat;
    font-size: 20px;
    cursor: pointer;
    transition: 250ms;

    &:hover {
        color: white;
        border: 1px solid rgb(255, 128, 0);
    }
}

.change {
    width: 100%;
    height: auto;
    line-height: 20px;
    @include center;
    flex-direction: column;

    font-size: 16px;
    color: rgba(255, 255, 255, 0.454);

    a {
        margin-top: 10px;
        color: rgba(251, 215, 149, 0.513);
        font-weight: 500;
        text-decoration: none;
        font-size: 1.5rem;

        &:hover {
            color: orange;
        }
    }

    p {
        margin: 0;
    }
}