@import "../.././StylesGlobal/utilities.scss";

* {
    box-sizing: border-box;
    font-family: $montserrat;
}

.pauseButton {
    @include actionButtons;
    top: 30px;
    left: 30px;
}

.pauseButtonActive {
    @include actionButtons;
    top: 30px;
    left: 30px;
    color: red;
}

.layout {
    width: 100vw;
    height: 100vh;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.accountUsername {
    font-size: 36px;
    color: rgba(255, 255, 255, .5);
    width: 100vw;
    height: 5vh;
    text-align: center;
}

.boxField {
    overflow: auto;
    padding: 20px 10px;
    width: 700px;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    // gap: 30px;
}

.loadMore {
    font-family: $montserrat;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.437);

    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        color: rgba(255, 255, 255, 0.69);
    }
}

.messagesResult {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
}


.inputMessage {
    position: relative;
    width: 700px;
    height: 8vh;
    background-color: $main-dark-bg;
    @include center;
}

.textArea {
    position: relative;
    width: 700px;
    height: 100%;
    resize: none;
    border-radius: 20px;
    padding: 10px 50px 5px 10px;
    font-size: 20px;

    &:focus {
        outline: none;
        box-shadow: 0 0 10px blue;
    }
}

.submit {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    width: 40px;
    font-size: 26px;
    @include center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: rgb(0, 128, 255);
    color: white;
    text-shadow: 0px 0px 10px black;
    transition: 250ms;
    cursor: pointer;

    &:hover {
        background-color: rgb(0, 21, 255);
    }

    &:active {
        background-color: rgb(0, 21, 255);
        color: rgb(61, 174, 255);
    }
}

@media only screen and (max-width: 700px) {

    .accountUsername {
        font-size: 20px;
    }

    .boxField {
        width: 100vw;
        font-size: 10px;
    }

    .inputMessage {
        width: 100vw;
        border-radius: 0%;

        .textArea {
            font-size: 14px;
        }
    }

    .loadMore {
        font-size: 16px;
    }
}