@import "../../../StylesGlobal/utilities.scss";


.four0four {
    font-family: $montserrat-alt;
    font-weight: 500;
    font-size: 64px;
    color: rgba(255, 255, 255, 0.265);

    position: absolute;
    top: 20px;
    left: 20px;
    letter-spacing: 1px;
}

.bg {
    width: 800px;
    min-width: 400px;
    @include center;
    flex-direction: column;
}

.desc {
    font-family: $montserrat-alt;
    width: 400px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.616);
    text-align: justify;
}

.actions {
    @include center;
    gap: 20px;
}

.go {
    @include noAccesButtons;
    background-color: rgb(104, 104, 255);

    &:hover {
        transform: scale(.97);

    }
}