
// Colors: 
$main-dark-bg: #121212;


$main-light-font : rgb(223, 220, 210);


// Fonts: 
$montserrat : 'Montserrat', sans-serif;
$montserrat-alt : 'Montserrat Alternates', sans-serif;
$nunito : 'Nunito', sans-serif;
